@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    background-color: #faf7f3;
    margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
  color: black;
	line-height: 35px;
  overflow-x: hidden;
}
a {
text-decoration: none;
color: black;
 }
A:hover
{

 color:darkorange;
 }
 img
 {
	 border-radius: 60px;

 }
.container {
    padding: 4% 12%;
}

/* [START] TOP MENU CONFIG */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    display: inline;
}

ul.topnav li {
    float: left;
}

li#login{
    float: right;
    color: white;

}

li#login a:hover:not(.active) {
    background-color: #C0C0C0;
    color: black;
}


ul.topnav li a {
    display: block;
    text-align: center;
    padding: 14px 14px;
    color: lightgrey;
    padding: 14px 14px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: black;
}

ul.topnav li a.active {
    background-color: darkorange;
}

ul.topnav {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 4px;
}

strong{

color: crimson;

}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

/* [STOP] TOP MENU CONFIG*/


.Div_side{


  width: 15%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  font-size: 90%;
  float: left;
  padding-left: 15px;

}


ul.sidenav li{
/*font-weight:bold;*/
font-style: italic;

}
/*------------------------------------------------------------------*/
/* [START] CARD LAYOUT */
.cardPanel {
     /* aggiunge ombre per creare l'effetto "carta" */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #F5F5F5 ;
      background-image: url('../IMMAGINI/Torino.jpg');
   }



/* nel mouse-over, aggiunge un'ombra più profonda */
.cardPanel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    padding: 2px 16px;

}





.cardPanel h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 300%;
}

.cardPanel p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 170%;
}

.logoImg {
    /* da cambiare qunado si va con @media*/
    margin: 0 auto;
    width: 16%;
    height: 16%;
    padding: 16px;
    display: block;
}

table {  text-align: left;
  padding-left: 320px;
  border-spacing: 15px;

}

.tab {
  text-align: left;
  padding-left: 320px;
  border-collapse: collapse;
  border-spacing: 5px;
}
.tab th {border:2px solid #002c53;}
.tab td {border:2px solid #002c53;}


p
{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 35px;
}

.section {
    width: 70%;
    text-align: left;
    padding-left: 320px;


    }

    .section2 {
        width: 70%;
        text-align: left;
        padding-left: 320px;

  }

  .SpaceColumn{

    margin-left:auto;
       margin-right:auto;
       width:80%;


}

    .column {
  float: left;
  width: 32%;
  padding: 10px;
}



#Turin_media{

  text-align: left;
  padding-left: 320px;
/*width="320"; height="240"*/
width: 500px;
float: left;
padding-right: 5%

}
#Turin_media_dx{

  text-align: right;
  padding-left: 320px;
/*width="320"; height="240"*/
width: 500px;
float: right;
padding-left: 5%;



}

.BoxUni{

  width: 80%;

    text-align: left;
padding-left: 320px;

}
.UniClass{
  float: left;
      width: 45%;
      font-size: 75%;
      padding-bottom: 3%;
      border-left: outset;
      padding-right: 0.5%;
  }







/* FORM CSS */
input[type=submit] {
    width: 10%;
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight : bold;
}

input[type=submit]:hover {
    background-color: darkorange;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: bold;
}


button{
  border-radius: 12px;
  background-color: #008CBA;


}

#tabselect {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabselect td, #tabselect th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabselect tr:nth-child(even){background-color: #f2f2f2;}

#tabselect tr:hover {background-color: #ddd;}

#tabselect th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;}

  button.BottoneAdmin {
  	box-shadow:inset 0px 39px 0px -24px #e67a73;
  	background-color:#e4685d;
  	border-radius:42px;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:28px;
  	font-weight:bold;
  	padding:19px 34px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #b23e35;
  }
  button.BottoneAdmin:hover {
  	background-color:#eb675e;
  }
  button.BottoneAdmin:active {
  	position:relative;
  	top:1px;
  }
